/********style**********/

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

img {
  width: 100%;
}
/************************FONTE**************************/
.playfair-display {
  font-family: "Playfair Display", serif;
  /* font-optical-sizing: auto; */
  font-style: normal;
}

.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

/************************FARVEKODER**************************
#F2EAE4 - lys
#BFA27E - guld
#8C0E03 - rød
#73564C - brun
#0D0D0D - sort
/************************SKRIFTTYPER**************************/

h1 {
  font-family: Playfair Display, serif;
  font-weight: bold;
  color: #f2eae4;
  font-size: 12dvw;
  word-wrap: normal;
  overflow-wrap: normal;
  white-space: nowrap;
}

h2 {
  font-family: Playfair Display, serif;
  font-weight: lighter;
  margin-bottom: 1rem;
}

h3 {
  font-family: Playfair Display, serif;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

h4 {
  font-family: Playfair Display, serif;
  font-weight: bold;
  margin-bottom: 2px;
}

p {
  font-family: "Alice", serif;
}

/******book_header*******/
/* 
.book_header {
  background-image: url(bookImgs/embassadenloft.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.book_header img {
  width: 100%;
  height: auto;
}

.book_header h1 {
  font-size: 12dvw;
} */
.book_hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr auto 1fr;
}
.book_header {
  grid-column: 1/4;
  grid-row: 1/4;
  place-self: stretch;
  object-fit: cover;
}

.hero_content {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}

/******book_oversigt*******/

.book_oversigt {
  background-color: #f2eae4;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 0;
  border: 1dvw solid #bfa27e;
}

.book_oversigt div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.book_oversigt p {
  color: #f2eae4;
}
.book_oversigt h2 {
  font-weight: bolder;
  color: #73564c;
}

/******svg(logo)******/
#logoDiv {
  display: flex;
  justify-content: center;
  background-image: url(img/logo-ambesaden-bage-01.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 25%;
  margin-bottom: 0.5rem;
}

#logoDiv h2 {
  margin-bottom: 0;
}

/********specielle div********/
#kalendar_div {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #f2eae4;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 0;
  border: 0.5dvw solid #bfa27e;
}

/********popup_div1********/
#openPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 19dvh;
  background-color: #8c0e03;
  font-family: Playfair Display;
  font-size: 2.5dvw;
  color: #f2eae4;
  border: 1px solid #f2eae4;
  border-radius: 260dvh;
  align-self: center;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#openPopup:hover {
  background-color: #eb857c;
}

#kalendar_div .popup {
  display: none;
  width: 100%;
  max-height: 350px;
  background-color: rgb(255, 255, 255);
  border: 0.4dvw solid silver;
  box-shadow: 10px 5px 0.5px 1px rgb(0, 0, 0, 0.5);
  justify-content: center;
  align-content: center;
  z-index: 1000;
}

#kalendar_div .exitButton {
  cursor: pointer;
  position: sticky;
  top: 0px;
  left: 1342px;
  font-size: 40px;
}

#kalendar_div .popup-content {
  display: flex;
  padding-bottom: 46px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.popupForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
}

.popupForm button {
  width: 113px;
  background-color: #bfa27e;
  font-family: Playfair Display;
  color: #f2eae4;
  border: 1px solid #f2eae4;
  border-radius: 29px;
  align-self: center;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer;
}

.popupForm button:hover {
  background-color: #eb857c;
}

/*******input-felt********/
.popupForm input {
  width: 100%;
  font-family: Playfair Display;
  padding: 10px;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 3px solid black;
}

.popupForm .divpop1 {
  width: 100%;
}

/********popup_div2********/

#kalendar_div #popup2 {
  display: none;
  width: 100%;
  max-height: 350px;
  background-color: rgb(255, 255, 255);
  border: 0.5dvw solid silver;
  box-shadow: 10px 5px 0.5px 1px rgb(0, 0, 0, 0.3);
  justify-content: center;
  align-content: center;
  z-index: 1000;
}

#kalendar_div #nextButton2 {
  background-color: #8c0e03;
  font-family: Playfair Display;
  border-radius: 29px;
  align-self: center;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  p {
    font-family: Alice;
    margin-top: 0px;
    margin-bottom: 0px;
    /*margin-right: 11rem;
    margin-left: 11rem;*/
  }
}

@media (max-width: 600px) {
  p {
    font-family: "Alice", serif;
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin-right: 4rem;
    margin-left: 4rem;*/
  }
}

/*********************************layout********************************/

@media (min-width: 765px) {
}

@media (max-width: 600px) {
  .book_oversigt div {
    padding: 1rem;
  }

  /* .book_header {
    height: 50vh;
  }*/

  .popupForm {
    width: 100%;
  }

  #openPopup {
    width: 100%;
    height: 14dvh;
    font-size: 4dvw;
    padding: 5px;
    margin: 0 auto;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
}
